h1{
  padding-top: 5%;
   padding-left: 43%;

 }

 .image p{
   position: absolute;
   top: 50%;
   left: 40%;
   color:black;
   font-size: 20px;

 }

 .basil{
   border: 3px;
   padding-left: 43%;
   margin-left: 240px;
   background-color: rgb(250, 253, 220);
   margin-right: 18%;
 
 }

 
   li a:hover {
     background-color:rgb(250, 253, 220);
   }
   @media (max-width: 600px) {
     nav, article {
       width: 100%;
       height: auto;
     }
   }

   #Fcolor {
    height: 150px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(245, 223, 182), lightyellow, pink,lightblue);
  }

